@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "List Scriptures";

    var canonSelection = "";

    var db = Database.Open("ScriptureJournalEntries");
    var selectCommand = "SELECT * FROM JournalEntries";
    var searchTerm = "";

    if (!Request.QueryString["searchCanon"].IsEmpty())
    {
        selectCommand = "SELECT * FROM JournalEntries WHERE Canon = @0";
        searchTerm = Request.QueryString["searchCanon"];
        canonSelection = searchTerm;
    }

    if (!Request.QueryString["searchBook"].IsEmpty())
    {
        selectCommand = "SELECT * FROM JournalEntries WHERE Book = @0";
        searchTerm = Request.QueryString["searchBook"];
    }

    if (!Request.QueryString["searchKeyword"].IsEmpty())
    {
        selectCommand = "SELECT * FROM JournalEntries WHERE Entry LIKE @0";
        searchTerm = "%" + Request["searchKeyword"] + "%";
    }

    var selectedData = db.Query(selectCommand, searchTerm);
    var grid = new WebGrid(source: selectedData, defaultSort: "Book", rowsPerPage: 5);
}

<h2>Scripture Journal</h2>
<form method="get">
    <div>
        <label for="searchCanon">Canon:</label>
        <select name="searchCanon">
                <option value="@canonSelection" selected hidden>@canonSelection</option>
                <option value="">All</option>
                <option value="Old Testament">Old Testament</option>
                <option value="New Testament">New Testament</option>
                <option value="Book of Mormon">Book of Mormon</option>
                <option value="Doctrine and Covenants">Doctrine and Covenants</option>
                <option value="Pearl of Great Price">Pearl of Great Price</option>
            </select>
        <input type="submit" value="Search Canon" /><br />
        @*(Leave blank to list all canons.)<br />*@
    </div>

    <div>
        <label for="searchBook">Book:</label>
        <input type="text" name="searchBook" value="@Request.QueryString["searchBook"]" />
        <input type="submit" value="Search Book" /><br />
        (Leave blank to list all books.)<br />
    </div>

    <div>
        <label for="searchKeyword">Journal entry contains the following:</label>
        <input type="text" name="searchKeyword" value="@Request.QueryString["searchKeyword"]" />
        <input type="submit" value="Search Keyword" /><br />
    </div>
</form>
<div>
    @grid.GetHtml(
        tableStyle: "grid",
        headerStyle: "head",
        alternatingRowStyle: "alt",
        columns: grid.Columns(
            grid.Column(format: @<a href="~/EditEntry?id=@item.ID">Edit</a>),
            grid.Column("Canon"),
            grid.Column("Book"),
            grid.Column("Chapter"),
            grid.Column("Verse"),
            grid.Column("Entry"),
            grid.Column("DateAdded", "Date Added"),
            grid.Column(format: @<a href="~/DeleteEntry?id=@item.ID">Delete</a>)
            )
    )
</div>

<p>
    <a href="~/AddEntry">Add a journal entry</a>
</p>